body.app-container {
    padding-top: 15px;
    padding-left: 120px;
    padding-bottom: 50px;
}

html.share body.app-container {
    padding-left: 40px;
    padding-right: 16px;
    padding-bottom: 10px;
}

header {
    padding-bottom: 40px;
}

.logo-background-color {
    background: #67DB84;
}

.borderless {
    border: 0;
    margin: 0;
    padding: 0;
}

.fill {
    width: 100%;
    height: 100%;
}

x-ms-webview {
    padding-top: 20px;
}

x-ms-webview.fill {
    width: calc(100% - 56px);
    height: calc(100% - 10px);
}

.table-layout {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto auto 1fr;
}

.table-top {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.table-middle {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.table-bottom {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.activity {
    padding-top: 20px;
}

.activity-hide {
    display: none;
}

.activity .icon {
    max-height: 40px;
    margin-right: 14px;
    float: left;
}

.activity .name {
    vertical-align: middle;
}

html.share header {
    display: none;
}
