.logo-background-color {
    background: #67DB84;
}

.borderless {
    border: 0;
    margin: 0;
    padding: 0;
}

.fill {
    width: 100%;
    height: 100%;
}

.topper {
    z-index: 10;
}

.app-table-top-background {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
} 

.bottomer {
    z-index: -10;
}

.center-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr auto 1fr;
    -ms-grid-rows: 1fr auto 1fr;
}

.border {
    border-top: 3px solid black;
}

.app-table-top-border {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    -ms-grid-row: 3;
}

.center-content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.item-list {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    overflow-x: auto;
    overflow-y:hidden;
}

html.share .item-list {
    -ms-flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.activity {
    padding-top: 20px;
}

html.selected .activity {
    display: none;
}

html.selected .activity.selected {
    display: block;
}

.activity .icon-container {
    height: 40px;
    width: 40px;
    margin-right: 14px;
    float: left;
    vertical-align: middle;
    text-align: center;
}

.activity .icon {
    max-height: 40px;
    max-width: 40px;
}

.activity .name {
    vertical-align: middle;
}

.hide-block-in-share { display: block; }
html.share .hide-block-in-share { display: none; }

.hide-block-unless-selected { display: none; }
html.selected .hide-block-unless-selected { display: block; }

.hide-block-unless-selected-and-share { display: none; }
html.selected.share .hide-block-unless-selected-and-share { display: block; }

html.share.selected body.app-table-layout {
    -ms-grid-rows: 15px auto 0px auto 10px 1fr 10x;
}

.share .app-table-layout {
    -ms-grid-columns: 40px 1fr auto auto auto 10px;
    -ms-grid-rows: 15px auto 0px 1fr auto auto 10px;
}

.selected .app-table-layout {
    -ms-grid-rows: 15px auto 40px auto 10px 1fr 50px;
}

.app-table-layout {
    display: -ms-grid;
    /* border title/list/webview ctrl1 ctrl2 ctrl3 border */
    -ms-grid-columns: 120px 1fr auto auto auto 50px;
    /* border title border activities/controls border webview border*/
    -ms-grid-rows: 15px auto 40px 1fr auto auto 50px;
}

.app-table-top {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
}

.app-table-top-logo {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
}
.app-table-top-logo > img {
    height: 64px;
}
@media all and (max-width: 553px) {
    .app-table-top-logo {
        display: none;
    }
}

.app-table-list {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
}

html.selected .app-table-list {
    -ms-grid-column-span: 1;
}

.app-table-control-1, .app-table-control-2, .app-table-control-3 {
    -ms-grid-row: 4;
}
.app-table-control-1 {
    -ms-grid-column: 3;
}
.app-table-control-2 {
    -ms-grid-column: 4;
}
.app-table-control-3 {
    -ms-grid-column: 5;
}

.app-table-output {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    -ms-grid-row: 6;
}

.app-table-fill {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;

    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
}

.six-row-table {
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.two-row-table {
    -ms-grid-rows: 1fr 1fr;
}

.two-column-table {
    display: -ms-grid;
    -ms-grid-columns: auto 10px auto;
    
}

.two-column-table > * {
    display: block;
    position: relative;
}

.two-column-table > :nth-child(odd) {
    -ms-grid-column: 1;
}

.two-column-table > :nth-child(even) {
    -ms-grid-column: 3;
}

.row1 { -ms-grid-row: 1; }
.row2 { -ms-grid-row: 2; }
.row3 { -ms-grid-row: 3; }
.row4 { -ms-grid-row: 4; }
.row5 { -ms-grid-row: 5; }
.row6 { -ms-grid-row: 6; }
