html.share body.app-container {
    padding-left: 40px;
    padding-right: 16px;
    padding-bottom: 10px;
}

body.app-container {
    padding-top: 15px;
    padding-left: 120px;
    padding-bottom: 50px;
}

html.share header {
    display: none;
}

header {
    padding-bottom: 40px;
}


.activity {
    padding-top: 20px;
}

html.selected .activity {
    display: none;
}
html.selected .activity.selected {
    display: inherit;
}
[data-section = "selection"] {
    display: none;
}
html.selected [data-section = "selection"] {
    display:block;
}

.activity .icon {
    max-height: 40px;
    margin-right: 14px;
    float: left;
}

.activity .name {
    vertical-align: middle;
}

x-ms-webview {
    display: none;
}

html.selected x-ms-webview {
    display: block;
}

x-ms-webview {
    padding-top: 20px;
}

.share x-ms-webview.fill {
    width: calc(100% - 56px);
    height: calc(100% - 10px);
}

x-ms-webview.fill {
    width: calc(100% - 150px);
    height: calc(100% - 70px);
}

.table-layout {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto auto 1fr;
}

.table-top {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.table-middle {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.table-bottom {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.two-column-table {
    display: -ms-grid;
    -ms-grid-columns: auto auto;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.two-column-table > * {
    display: block;
    position: relative;
}

.two-column-table > :nth-child(odd) {
    -ms-grid-column: 1;
}

.two-column-table > :nth-child(even) {
    -ms-grid-column: 2;
}

.row1 { -ms-grid-row: 1; }
.row2 { -ms-grid-row: 2; }
.row3 { -ms-grid-row: 3; }
.row4 { -ms-grid-row: 4; }
.row5 { -ms-grid-row: 5; }
.row6 { -ms-grid-row: 6; }

.borderless {
    border: 0;
    margin: 0;
    padding: 0;
}

.fill {
    width: 100%;
    height: 100%;
}

.center-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr auto 1fr;
    -ms-grid-rows: 1fr auto 1fr;
}

.center-content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.fill.center-content {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column-span: 3;
}

.logo-background-color {
    background: #67DB84;
}
