<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="CloudShare" Version="1.0.0.0" Publisher="CN=Dave" />
  <Properties>
    <DisplayName>Cloud Share</DisplayName>
    <PublisherDisplayName>Dave</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Cloud Share" Description="Cloud Share helps you share from your Windows Store apps to your favorite social media websites." ForegroundText="light" BackgroundColor="#67DB84" Square150x150Logo="images\Square150x150Logo.png" Square30x30Logo="images\Square30x30Logo.png">
        <m2:DefaultTile ShortName="Cloud Share" Square310x310Logo="images\Square310x310Logo.png" DefaultSize="square150x150Logo" Wide310x150Logo="images\Wide310x150Logo.png" Square70x70Logo="images\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#67DB84" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget" StartPage="default.html">
          <ShareTarget m2:Description="Share with the Web">
            <DataFormat>Text</DataFormat>
            <DataFormat>URI</DataFormat>
            <DataFormat>HTML</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>